.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
  overflow: hidden;
}

.modal {
  position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate (-50%, -50%);
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 80px);
}
.modalImage {
  // max-width: 300px;
  @media screen and (min-width: 768px) {
    max-width: 700px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 900px;
  }
}
.modalBtnClose {
  background-color: inherit;
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  fill: rgb(169, 169, 169);
}
